@font-face {
    font-family: Marianne;
    src: url(assets/Marianne/Marianne-Regular.otf);
}

:root{
    font-family: Marianne;
    color-scheme: dark;
    --border-width: 4px;
    --border-radius: 0px;
    --emphasis-color: navy;
}

body{
    background-color: var(--background-color);
    color: var(--color);
}

h1{
    color: var(--emphasis-color);
}

table{
    width: 100%;
    border-style: solid;
    border-color: var(--emphasis-color);
    border-radius: var(--border-radius);
}

td{
    width: 50%;
}

input{
    border-style: dashed;
    border-width: 1px;
    border-radius: var(--border-radius);
}

textarea{
    border-style: dashed;
    border-width: 1px;
    border-radius: var(--border-radius);
    resize: none;
    width: 90%;
}

button{
    background-color: var(--emphasis-color);
    opacity: 50%;
    border: none;
    border-radius: var(--border-radius);
    font-size: 2rem;
}

button:hover{
    opacity: 100%;
    transition: 0.5s;
}

.center{
    display: block;
    margin: auto;
    text-align: center;
}

.big_break{
    height: 2000px;
}

#form{
    width: 80%;
}

#médecins{
    width: 65%;
}