@font-face {
    font-family: Marianne;
    src: url(Marianne/Marianne-Regular.otf);
}

:root{
    --background-color: black;
    --font-color: white;
    --border-width: 4px;
}

body{
    background-color: black;
    color: var(--font-color);
    font-family: Marianne;
}

table{
    width: 100%;
}

.big_break{
    height: 2000px;
}